opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-distro
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-prometheus
opentelemetry-propagator-b3
opentelemetry-propagator-jaeger
opentelemetry-propagator-aws-xray
opentelemetry-instrumentation
opentelemetry-propagator-ot-trace
opentelemetry-instrumentation-aio-pika[instruments]
opentelemetry-instrumentation-aiohttp-client[instruments]
opentelemetry-instrumentation-aiohttp-server[instruments]
opentelemetry-instrumentation-aiokafka[instruments]
opentelemetry-instrumentation-aiopg[instruments]
opentelemetry-instrumentation-asgi[instruments]
opentelemetry-instrumentation-asyncio[instruments]
opentelemetry-instrumentation-asyncpg[instruments]
opentelemetry-instrumentation-aws-lambda[instruments]
#opentelemetry-instrumentation-boto[instruments]; failing
opentelemetry-instrumentation-boto3sqs[instruments]
opentelemetry-instrumentation-botocore[instruments]
opentelemetry-instrumentation-cassandra[instruments]
opentelemetry-instrumentation-celery[instruments]
opentelemetry-instrumentation-click[instruments]
opentelemetry-instrumentation-confluent-kafka[instruments]
opentelemetry-instrumentation-dbapi[instruments]
opentelemetry-instrumentation-django[instruments]
opentelemetry-instrumentation-elasticsearch[instruments]
opentelemetry-instrumentation-falcon[instruments]
opentelemetry-instrumentation-fastapi[instruments]
opentelemetry-instrumentation-flask[instruments]
opentelemetry-instrumentation-grpc[instruments]
opentelemetry-instrumentation-httpx[instruments]
opentelemetry-instrumentation-jinja2[instruments]
opentelemetry-instrumentation-kafka-python[instruments]
opentelemetry-instrumentation-logging[instruments]
opentelemetry-instrumentation-mysql[instruments]
opentelemetry-instrumentation-mysqlclient[instruments]
opentelemetry-instrumentation-pika[instruments]
opentelemetry-instrumentation-psycopg[instruments]
opentelemetry-instrumentation-psycopg2[instruments]
opentelemetry-instrumentation-pymemcache[instruments]
opentelemetry-instrumentation-pymongo[instruments]
opentelemetry-instrumentation-pymysql[instruments]
opentelemetry-instrumentation-pyramid[instruments]
opentelemetry-instrumentation-redis[instruments]
opentelemetry-instrumentation-remoulade[instruments]
opentelemetry-instrumentation-requests[instruments]
opentelemetry-instrumentation-sqlalchemy[instruments]
opentelemetry-instrumentation-sqlite3[instruments]
opentelemetry-instrumentation-starlette[instruments]
opentelemetry-instrumentation-system-metrics[instruments]
opentelemetry-instrumentation-threading[instruments]
opentelemetry-instrumentation-tornado[instruments]
#opentelemetry-instrumentation-tortoiseorm[instruments];failing
opentelemetry-instrumentation-urllib[instruments]
opentelemetry-instrumentation-urllib3[instruments]
opentelemetry-instrumentation-wsgi[instruments]
